* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	margin:0;
	background-color:#F90;
}

body {
	font-family:Verdana, sans-serif;
}

h1 {
	background-color:rgba(0, 0, 0, .75);
	padding:10px;
	color:#EEE;
	margin-top:0;
}

h2 {
	background-color:rgba(0, 0, 0, .5);
	padding:5px;
	color:#EEE;
	margin-top:0;
	text-align:center;
}

.button {
	cursor:pointer;
	display:inline-block;
	background-color:rgba(255, 255, 255, .25);
	padding:3px;
	border:thin rgba(255, 255, 255, .5) solid;
}

.folders-list > li {
	border-top:thin black solid;
	padding:5px;
}

.folders-list > li:first-child {
	border-top:none;
}

.button:hover {
	background-color:rgba(255, 255, 255, .75);
}

.path > span {
	margin:3px;
}

.panel {
	padding:10px;
	background-color:rgba(255, 255, 255, .1);
}

.panels {
	display:table;
	width:100%;
	margin:1em 0;
}

.table-panel {
	display:table-cell;
	width:50%;
}

.items-stage {
	margin:10px;
}

.items-stage::after {
	content:".";
	width:0;
	height:0;
	overflow:hidden;
	display:block;
	clear:both;
}

.item {
	float:left;
	width:120px;
	height:120px;
	margin:15px;
	text-align:center;
	position:relative;
	background-size:64px;
	background-repeat:no-repeat;
	background-position:center 5px;
}

.item:after {
	content:".";
	color:transparent;
	width:16px;
	display:block;
	height:16px;
	position:absolute;
	top:53px;
	left:76px;
}

.item > span {
	font-size:smaller;
	max-height:50px;
	max-width:120px;
	overflow:hidden;
	display:inline-block;
	text-overflow:ellipsis;
	margin-top:65px;
}

/*
Icons
*/
.icon-compressed {background-image:url(icons/compressed.png);}
.icon-css {background-image:url(icons/css.png);}
.icon-developer {background-image:url(icons/developer.png);}
.icon-excel {background-image:url(icons/excel.png);}
.icon-file {background-image:url(icons/file.png);}
.icon-fireworks {background-image:url(icons/fireworks.png);}
.icon-flash {background-image:url(icons/flash.png);}
.icon-folder {background-image:url(icons/folder.png);}
.icon-html {background-image:url(icons/html.png);}
.icon-illustrator {background-image:url(icons/illustrator.png);}
.icon-image {background-image:url(icons/image.png);}
.icon-keynote {background-image:url(icons/keynote.png);}
.icon-movie {background-image:url(icons/movie.png);}
.icon-music {background-image:url(icons/music.png);}
.icon-numbers {background-image:url(icons/numbers.png);}
.icon-pages {background-image:url(icons/pages.png);}
.icon-pdf {background-image:url(icons/pdf.png);}
.icon-photoshop {background-image:url(icons/photoshop.png);}
.icon-powerpoint {background-image:url(icons/powerpoint.png);}
.icon-text {background-image:url(icons/text.png);}
.icon-word {background-image:url(icons/word.png);}

.deleted {
	opacity:.5;
}

.deleted.icon-compressed {background-image:url(icons/gray/compressed.png);}
.deleted.icon-css {background-image:url(icons/gray/css.png);}
.deleted.icon-developer {background-image:url(icons/gray/developer.png);}
.deleted.icon-excel {background-image:url(icons/gray/excel.png);}
.deleted.icon-file {background-image:url(icons/gray/file.png);}
.deleted.icon-fireworks {background-image:url(icons/gray/fireworks.png);}
.deleted.icon-flash {background-image:url(icons/gray/flash.png);}
.deleted.icon-folder {background-image:url(icons/gray/folder.png);}
.deleted.icon-html {background-image:url(icons/gray/html.png);}
.deleted.icon-illustrator {background-image:url(icons/gray/illustrator.png);}
.deleted.icon-image {background-image:url(icons/gray/image.png);}
.deleted.icon-keynote {background-image:url(icons/gray/keynote.png);}
.deleted.icon-movie {background-image:url(icons/gray/movie.png);}
.deleted.icon-music {background-image:url(icons/gray/music.png);}
.deleted.icon-numbers {background-image:url(icons/gray/numbers.png);}
.deleted.icon-pages {background-image:url(icons/gray/pages.png);}
.deleted.icon-pdf {background-image:url(icons/gray/pdf.png);}
.deleted.icon-photoshop {background-image:url(icons/gray/photoshop.png);}
.deleted.icon-powerpoint {background-image:url(icons/gray/powerpoint.png);}
.deleted.icon-text {background-image:url(icons/gray/text.png);}
.deleted.icon-word {background-image:url(icons/gray/word.png);}

.icon-ok:after {background-image:url(icons/ok.png);}
.icon-sync:after {background-image:url(icons/sync.png);}

/*
Window
*/

.window-background {
	position:fixed;
	background-color:rgba(0, 0, 0, .1);
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.window {
	position:absolute;
	width:60%;
	height:60%;
	top:20%;
	left:20%;
	background-color:rgba(255, 255, 255, .9);
}

.window-close {
	position:absolute;
	top:10px;
	right:10px;
	width:20px;
}

.window-content {
	margin-top:2.5em;
	padding:10px 10px 0 10px;
	overflow:auto;
	position:absolute;
	top:0;
	height:-moz-calc(100% - 2.5em);
	height:-webkit-calc(100% - 2.5em);
	height:-moz-calc(100% - 2.5em);
	width:100%;
}

.window-content > *:last-child {
	margin-bottom:10px;
}

.window-title {
	overflow:hidden;
	text-overflow:ellipsis;
}
